@import url('https://fonts.googleapis.com/css?family=Coiny');



.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://i.imgur.com/YtRPuwr.gif?noredirect);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
	margin: 10%;
	font-size: 40px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
.attribute {
	position: relative;
	font-size: 26px;
	text-align: center;
}


.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  
    
}
  
  
  
  
  
  
  

  
 